* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .gradiente {
    height: 150px;
    /* background-image: linear-gradient( to bottom, #d8d7e0 0%, #137909 20%, #f6690a 60%, #073898 80%, #00d4ff 100%); */
    background: radial-gradient(circle, #d8d7e0 0%, #137909 40%, #073898 80%);
    }
    .contenedor-animacion {
    height: 60vh;
    background-color: #dbdbdb;
    }
    .cuadrado {
    margin-top: 3rem;
    height: 100px;
    width: 200px;
    background-color: chocolate;
    animation-name: mianimacion;
    font-size: 2rem;
    animation-duration: 6s;
    /* animation-iteration-count: infinite; */
    position: relative;
    /* transform: translate(50px, 100px);
        transform: rotate(45deg);
        transform: scale(2,1);
        transform: translate(50px, 100px);
        transform: skewY(45deg);
    */
    }
    @keyframes mianimacion {
    0% {
        background-color: chocolate;
        width: 100px;
        height: 100px;
        left: 0px;
        top: 0px;
        font-size: 1rem;
    }
    25% {
        width: 300px;
        left: 300px;
        top: 0;
    }
    50% {
        background-color: #137909;
        width: 200px;
        height: 300px;
        left: 300px;
        top: 200px;
        font-size: 3rem;
    }
    75% {
        width: 300px;
        left: 0px;
        top: 200px;
        font-size: 4rem;
    }
    100% {
        background-color: darkmagenta;
        width: 100px;
        left: 0px;
        top: 0px;
    }
    }
    .contenedor-imagen {
    height: 60vh;
    background-color: #c6e5fa;
    }
    /* Con imagenes */
    .efecto-imagen {
    padding: 5rem;
    }
    .efecto-imagen img {
    width: 20%;
    }
    .efecto-imagen img:hover {
    transform: scale(1.3);
    }
    .btn {
    border: 2px solid #98071f;
    border-radius: 0.6rem;
    cursor: pointer;
    align-self: center;
    font-size: large;
    margin: 1rem;
    padding: 1.2rem 3rem;
    text-transform: uppercase;
    }
    .btn:hover,
    .btn:focus {
    color: fff;
    }
    .btn_1 {
    border-color: #f7cbe6;
    color: white;
    background-color: #f7cbe6;
    transition: all 150ms ease-in-out;
    }
    .btn_1:hover {
    background-color: #af7499;
    color: rgb(113, 113, 117);
    }

    .btn_2 {
    border-radius: 3rem;
    border-color: turquoise;
    color: white;
    background-image: linear-gradient(
    to right,
    rgba(26, 188, 156, 0.6),
    rgba(26, 188, 156, 0.6) 5%,
    #1abc9c 5%,
    #1abc9c 10%,
    rgba(26, 188, 156, 0.6) 10%,
    rgba(26, 188, 156, 0.6) 15%,
    #1abc9c 15%,
    #1abc9c 20%,
    rgba(26, 188, 156, 0.6) 20%,
    rgba(26, 188, 156, 0.6) 25%,
    #1abc9c 25%,
    #1abc9c 30%,
    rgba(26, 188, 156, 0.6) 30%,
    rgba(26, 188, 156, 0.6) 35%,
    #1abc9c 35%,
    #1abc9c 40%,
    rgba(26, 188, 156, 0.6) 40%,
    rgba(26, 188, 156, 0.6) 45%,
    #1abc9c 45%,
    #1abc9c 50%,
    rgba(26, 188, 156, 0.6) 50%,
    rgba(26, 188, 156, 0.6) 55%,
    #1abc9c 55%,
    #1abc9c 60%,
    rgba(26, 188, 156, 0.6) 60%,
    rgba(26, 188, 156, 0.6) 65%,
    #1abc9c 65%,
    #1abc9c 70%,
    rgba(26, 188, 156, 0.6) 70%,
    rgba(26, 188, 156, 0.6) 75%,
    #1abc9c 75%,
    #1abc9c 80%,
    rgba(26, 188, 156, 0.6) 80%,
    rgba(26, 188, 156, 0.6) 85%,
    #1abc9c 85%,
    #1abc9c 90%,
    rgba(26, 188, 156, 0.6) 90%,
    rgba(26, 188, 156, 0.6) 95%,
    #1abc9c 95%,
        #1abc9c 100%
    );
    background-position: 0 0;
    background-size: 100%;
    transition: background 300ms ease-in-out;
    }
    .btn_2:hover {
    background-position: 100px;
    }
    .btn_3 {
    border-color: #1a8ebc;
    color: white;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    }
    .btn_3:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: darkblue;
    }